{% extends "default/base.html.twig" %}

{% block body %}

    {#Sidebar#}
    {% block sidebar %}
        {% include "::default/sidebar.html.twig" %}
    {% endblock %}

    {#Main#}
        {#Content#}
        <div class="main-content">
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {#Footer#}
        {% block footer %}
            {% include "::default/footer.html.twig" %}
        {% endblock %}


{% endblock %}
